
# Ignored video files from dolphin materials
dolphin_swimming/dolphins_1/physical/materials/balloon/Movie on 6-7-26 at 10.13 PM.mov
dolphin_swimming/dolphins_1/physical/materials/balloon/Screen Recording 2026-06-07 at 8.52.26 PM.mov
dolphin_swimming/dolphins_1/physical/materials/battery pack/Movie on 6-7-26 at 10.24 PM #2.mov
dolphin_swimming/dolphins_1/physical/materials/battery pack/Screen Recording 2026-06-07 at 9.08.57 PM.mov
dolphin_swimming/dolphins_1/physical/materials/hot glue/Movie on 6-7-26 at 10.05 PM.mov
dolphin_swimming/dolphins_1/physical/materials/hot glue/Screen Recording 2026-06-07 at 8.44.38 PM.mov
dolphin_swimming/dolphins_1/physical/materials/jumper wires/Movie on 6-7-26 at 10.46 PM.mov
dolphin_swimming/dolphins_1/physical/materials/jumper wires/Screen Recording 2026-06-07 at 9.36.18 PM.mov
dolphin_swimming/dolphins_1/physical/materials/microcontroller/Movie on 6-7-26 at 10.34 PM.mov
dolphin_swimming/dolphins_1/physical/materials/microcontroller/Screen Recording 2026-06-07 at 9.13.40 PM.mov
dolphin_swimming/dolphins_1/physical/materials/on off switch/Movie on 6-7-26 at 11.09 PM.mov
dolphin_swimming/dolphins_1/physical/materials/on off switch/Screen Recording 2026-06-07 at 9.42.20 PM.mov
dolphin_swimming/dolphins_1/physical/materials/plastic bottle/Movie on 6-7-26 at 10.00 PM.mov
dolphin_swimming/dolphins_1/physical/materials/plastic bottle/Screen Recording 2026-06-07 at 7.56.59 PM.mov
dolphin_swimming/dolphins_1/physical/materials/servo motor/Movie on 6-7-26 at 10.18 PM.mov
dolphin_swimming/dolphins_1/physical/materials/servo motor/Screen Recording 2026-06-07 at 9.00.19 PM.mov
dolphin_swimming/dolphins_1/physical/materials/waterproof tape/Movie on 6-7-26 at 10.03 PM.mov
dolphin_swimming/dolphins_1/physical/materials/waterproof tape/Screen Recording 2026-06-07 at 8.15.20 PM.mov


# Ignored video files from dolphin materials
developer/keyboard/1/Movie on 6-8-26 at 10.03 PM.mov
developer/keyboard/1/Screen Recording 2026-06-08 at 10.03.54 PM.mov
developer/keyboard/2/Movie on 6-8-26 at 10.12 PM.mov
developer/keyboard/2/Screen Recording 2026-06-08 at 10.12.54 PM.mov
developer/keyboard/3/Movie on 6-8-26 at 10.25 PM.mov
developer/keyboard/3/Screen Recording 2026-06-08 at 10.26.02 PM.mov
developer/magic mouse/1/Movie on 6-8-26 at 10.34 PM.mov
developer/magic mouse/1/Screen Recording 2026-06-08 at 10.35.23 PM.mov
developer/magic mouse/2/Movie on 6-8-26 at 10.41 PM.mov
developer/magic mouse/2/Screen Recording 2026-06-08 at 10.42.03 PM.mov
developer/magic mouse/4/Movie on 6-8-26 at 10.58 PM #2.mov
developer/magic mouse/4/Screen Recording 2026-06-08 at 10.59.02 PM.mov
developer/magic mouse/6/Movie on 6-8-26 at 11.09 PM.mov
developer/magic mouse/6/Screen Recording 2026-06-08 at 11.09.36 PM.mov
garden/city traffic/Screen Recording 2026-06-09 at 1.42.25 AM.mov
garden/cooking process/Screen Recording 2026-06-09 at 6.11.05 AM.mov
garden/dolphin_swimming/dolphins_1/physical/materials/balloon/Movie on 6-7-26 at 10.13 PM.mov
garden/dolphin_swimming/dolphins_1/physical/materials/balloon/Screen Recording 2026-06-07 at 8.52.26 PM.mov
garden/dolphin_swimming/dolphins_1/physical/materials/battery pack/Movie on 6-7-26 at 10.24 PM #2.mov
garden/dolphin_swimming/dolphins_1/physical/materials/battery pack/Screen Recording 2026-06-07 at 9.08.57 PM.mov
garden/dolphin_swimming/dolphins_1/physical/materials/hot glue/Movie on 6-7-26 at 10.05 PM.mov
garden/dolphin_swimming/dolphins_1/physical/materials/hot glue/Screen Recording 2026-06-07 at 8.44.38 PM.mov
garden/dolphin_swimming/dolphins_1/physical/materials/jumper wires/Movie on 6-7-26 at 10.46 PM.mov
garden/dolphin_swimming/dolphins_1/physical/materials/jumper wires/Screen Recording 2026-06-07 at 9.36.18 PM.mov
garden/dolphin_swimming/dolphins_1/physical/materials/microcontroller/Movie on 6-7-26 at 10.34 PM.mov
garden/dolphin_swimming/dolphins_1/physical/materials/microcontroller/Screen Recording 2026-06-07 at 9.13.40 PM.mov
garden/dolphin_swimming/dolphins_1/physical/materials/on off switch/Movie on 6-7-26 at 11.09 PM.mov
garden/dolphin_swimming/dolphins_1/physical/materials/on off switch/Screen Recording 2026-06-07 at 9.42.20 PM.mov
garden/dolphin_swimming/dolphins_1/physical/materials/plastic bottle/Movie on 6-7-26 at 10.00 PM.mov
garden/dolphin_swimming/dolphins_1/physical/materials/plastic bottle/Screen Recording 2026-06-07 at 7.56.59 PM.mov
garden/dolphin_swimming/dolphins_1/physical/materials/servo motor/Movie on 6-7-26 at 10.18 PM.mov
garden/dolphin_swimming/dolphins_1/physical/materials/servo motor/Screen Recording 2026-06-07 at 9.00.19 PM.mov
garden/dolphin_swimming/dolphins_1/physical/materials/waterproof tape/Movie on 6-7-26 at 10.03 PM.mov
garden/dolphin_swimming/dolphins_1/physical/materials/waterproof tape/Screen Recording 2026-06-07 at 8.15.20 PM.mov
garden/immune system/Screen Recording 2026-06-09 at 1.53.39 AM.mov
garden/immune system/Screen Recording 2026-06-09 at 1.58.57 AM.mov
garden/language evolution/Screen Recording 2026-06-09 at 5.55.25 AM.mov
garden/music generator/Screen Recording 2026-06-09 at 6.20.18 AM.mov
garden/robot warehouse/Screen Recording 2026-06-09 at 9.39.44 AM.mov
garden/rocket launch/Screen Recording 2026-06-09 at 2.13.52 AM.mov
garden/stock market/Screen Recording 2026-06-09 at 2.28.06 AM.mov
garden/volcano eruption/Screen Recording 2026-06-09 at 12.45.58 AM.mov
x/1/Movie on 6-8-26 at 11.18 PM.mov
x/2/Movie on 6-8-26 at 11.24 PM.mov
x/3/Movie on 6-8-26 at 11.30 PM.mov
x/4/Movie on 6-8-26 at 11.35 PM.mov
x/5/Movie on 6-8-26 at 11.43 PM.mov
x/6/Movie on 6-8-26 at 11.51 PM.mov
x/7/Movie on 6-8-26 at 11.56 PM.mov
x/7/Screen Recording 2026-06-08 at 11.56.35 PM.mov
x/8/Movie on 6-9-26 at 12.04 AM.mov
