
# Ignored video files from dolphin materials
dolphin_swimming/dolphins_1/physical/materials/balloon/Movie on 6-7-26 at 10.13 PM.mov
dolphin_swimming/dolphins_1/physical/materials/balloon/Screen Recording 2026-06-07 at 8.52.26 PM.mov
dolphin_swimming/dolphins_1/physical/materials/battery pack/Movie on 6-7-26 at 10.24 PM #2.mov
dolphin_swimming/dolphins_1/physical/materials/battery pack/Screen Recording 2026-06-07 at 9.08.57 PM.mov
dolphin_swimming/dolphins_1/physical/materials/hot glue/Movie on 6-7-26 at 10.05 PM.mov
dolphin_swimming/dolphins_1/physical/materials/hot glue/Screen Recording 2026-06-07 at 8.44.38 PM.mov
dolphin_swimming/dolphins_1/physical/materials/jumper wires/Movie on 6-7-26 at 10.46 PM.mov
dolphin_swimming/dolphins_1/physical/materials/jumper wires/Screen Recording 2026-06-07 at 9.36.18 PM.mov
dolphin_swimming/dolphins_1/physical/materials/microcontroller/Movie on 6-7-26 at 10.34 PM.mov
dolphin_swimming/dolphins_1/physical/materials/microcontroller/Screen Recording 2026-06-07 at 9.13.40 PM.mov
dolphin_swimming/dolphins_1/physical/materials/on off switch/Movie on 6-7-26 at 11.09 PM.mov
dolphin_swimming/dolphins_1/physical/materials/on off switch/Screen Recording 2026-06-07 at 9.42.20 PM.mov
dolphin_swimming/dolphins_1/physical/materials/plastic bottle/Movie on 6-7-26 at 10.00 PM.mov
dolphin_swimming/dolphins_1/physical/materials/plastic bottle/Screen Recording 2026-06-07 at 7.56.59 PM.mov
dolphin_swimming/dolphins_1/physical/materials/servo motor/Movie on 6-7-26 at 10.18 PM.mov
dolphin_swimming/dolphins_1/physical/materials/servo motor/Screen Recording 2026-06-07 at 9.00.19 PM.mov
dolphin_swimming/dolphins_1/physical/materials/waterproof tape/Movie on 6-7-26 at 10.03 PM.mov
dolphin_swimming/dolphins_1/physical/materials/waterproof tape/Screen Recording 2026-06-07 at 8.15.20 PM.mov
